:root {
  --main-bg-1: #202121;
  --bg-track: #202121;
  --bg-thumb: rgb(128, 128, 128);
  --bg-thumb-hover: rgb(199, 199, 199);
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-wrapper {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
}

.landing-section {
  position: relative;
}

.welcome-area {
  position: absolute;
  top: 45%;
  left: 5%;

  transform: translate(-5%, -45%);

  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  background-color: rgba(0, 0, 0, 0.559);
  padding: 20px 10px 20px 10px;

  border-radius: 12px;

  -webkit-box-shadow: 0px 0px 15px 6px #ffffff18;
  box-shadow: 0px 0px 15px 6px #ffffff18;
}

.welcome-area h3 {
  color: var(--text-color-before);
  text-transform: capitalize;
  font-family: 'Krona One', sans-serif;

  font-size: 2.2rem;
}

.welcome-area p {
  color: var(--text-color-before);

  font-size: 1rem;
  padding-left: 10px;
  margin-left: 35px;
  margin-right: 35px;

  border-left: 3.5px solid var(--accent-color);
}

.text-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 10px;
}

.text-and-button button {
  margin-top: 5px;
  display: inline-block;
  width: fit-content;
  border: none;
  font-size: 1.1rem;
  text-transform: capitalize;
  text-decoration: none;
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 30px;

  border-radius: 8px;

  box-shadow: inset 0 0 0 0 #fff;

  transition: color 0.7s ease-in-out, box-shadow 0.3s ease-in-out;
}

.text-and-button button:hover {
  box-shadow: inset 130px 0 0 0 var(--accent-color);
  color: #fff;
}
