:root {
  --main-bg-1: #202121;
  --bg-track: #202121;
  --bg-thumb: rgb(128, 128, 128);
  --bg-thumb-hover: rgb(199, 199, 199);
}

.video-section {
  position: relative;
}

.video-section #video {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.content {
  padding-bottom: 5000px;
}

.welcome-area {
  border: 2px solid red;
  width: 25%;
  position: absolute;
  z-index: -1;

  transform: translate(10%, 110%);

  display: flex;

  color: #fff;
  flex-direction: column;
}
